#About{
    margin-top: 5%;
}
.about_img{
    /* width: 80%; */
    /* border-radius: 50px; */
    margin-top: -6%;
}
.aboutMe{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat,
    sans-serif;
    font-size: 60px;
}
.centering{
    margin-top: 12%;
}
.about_btn {    
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .4s all ease;
    height: 60px;
    width: 180px;
    margin: 0px 10px;
}
.about_btn:hover{   
   background-color: #f9004d;   
   transition: .4s;
   opacity: .9;   
   transform: scale(1.1);
}
.aboutButton {
    padding: 20px 0px;
    align-content: space-around;
}
#skill_icon{
    flex-wrap: wrap;
}
#skill_icon>div{
    width: 25%;
}
#skill_icon img{
    width: 80%;
    height: 80%;
}
.skill{
   margin-bottom: 10px;
   font-weight: 700;
   text-align: start;
   font-family: Montserrat,
   sans-serif;
   font-size: 60px;
   margin-bottom: 10%;
}
#skill_icon img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
  transition: .4s; 
}
.skill_detail{
    margin-top: 10%;
}

@media only screen and (max-width: 1024px) {
    .p__color {
        font-size: 15px !important;
    }
    
}

@media only screen and (max-width: 425px) {
    button.about_btm {
        text-transform: capitalize;
        width: 165px;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
    .about_img {
        width: 80%;
    }
}